*{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html, body{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper{
	position: relative;
	max-width: $wrapper;
	margin: 0 auto;
	padding: 0 15px; 
}

footer{
	margin-top: auto;
}